Development_Environment/n8n-config/main/n8n/configurations/hourly-gmail-spam-filter-customerservice-aitradeengines.json
{"workflow":{"id":"06yeB67GYtXQGgVs","name":"Hourly Gmail Spam Filter - customerservice@aitradeengines.com","active":true,"isArchived":false,"versionId":"4d748c10-98ab-42eb-93af-cb2e75b51400","activeVersionId":"5220fa43-9d40-46ff-8a57-e23d8eecfbe3","triggerCount":1,"createdAt":"2026-06-28T23:49:18.435Z","updatedAt":"2026-06-28T23:52:57.868Z","settings":{"executionOrder":"v1","timezone":"America/New_York","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"connections":{"Every Hour":{"main":[[{"node":"customerservice@aitradeengines.com","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"customerservice@aitradeengines.com","type":"main","index":0}]]},"OpenAI Embeddings":{"ai_embedding":[[{"node":"Qdrant Memory Tool","type":"ai_embedding","index":0},{"node":"Qdrant Memory Insert","type":"ai_embedding","index":0}]]},"Build Memory Records":{"main":[[{"node":"Qdrant Memory Insert","type":"main","index":0}]]},"Memory Data Loader":{"ai_document":[[{"node":"Qdrant Memory Insert","type":"ai_document","index":0}]]},"Keep Spam Only":{"main":[[{"node":"Add Spam Label","type":"main","index":0}]]},"Add Spam Label":{"main":[[{"node":"Remove Inbox Label","type":"main","index":0}]]},"Get Recent Inbox Messages":{"main":[[{"node":"AI Agent Spam Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent Spam Classifier","type":"ai_languageModel","index":0}]]},"Qdrant Memory Tool":{"ai_tool":[[{"node":"AI Agent Spam Classifier","type":"ai_tool","index":0}]]},"AI Agent Spam Classifier":{"main":[[{"node":"Keep Spam Only","type":"main","index":0},{"node":"Agent Output Audit","type":"main","index":0},{"node":"Build Memory Records","type":"main","index":0}]]},"customerservice@aitradeengines.com":{"main":[[{"node":"AI Agent Spam Classifier","type":"main","index":0}]]}},"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"hourly-schedule","name":"Every Hour","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[400,48]},{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[400,240]},{"parameters":{"operation":"getAll","limit":25,"filters":{"readStatus":"unread"}},"id":"gmail-get-many","name":"Get Recent Inbox Messages","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[624,144],"webhookId":"b84b8450-a716-44ab-a472-9a3687689e38"},{"parameters":{"model":"fortisai","options":{}},"id":"openai-embeddings","name":"OpenAI Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1056,576]},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Search prior FortisAI Gmail spam decisions stored in Qdrant to help classify similar emails.","qdrantCollection":{"__rl":true,"mode":"id","value":"gmail_spam_memory_d1536"},"topK":5,"options":{}},"id":"qdrant-memory-tool","name":"Qdrant Memory Tool","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[976,368]},{"parameters":{"jsCode":"const items = $input.all();\nreturn items.filter((item) => /^SPAM\\b/i.test(String(item.json.output ?? \"\").trim()));"},"id":"keep-spam-only","name":"Keep Spam Only","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,-48]},{"parameters":{"jsCode":"const items = $input.all();\nconst total = items.length;\nlet spam = 0;\nlet notSpam = 0;\nlet unknown = 0;\nlet memoryUsed = 0;\n\nconst samples = items.slice(0, 5).map((item, i) => {\n  const output = item?.json?.output;\n  const asText = typeof output === 'string' ? output : JSON.stringify(output ?? {});\n  const text = String(asText).trim();\n  const verdict = typeof output === 'object'\n    ? String(output?.verdict ?? '').toUpperCase()\n    : (text.match(/\\b(SPAM|NOT_SPAM)\\b/i)?.[1] || '').toUpperCase();\n\n  if (verdict === 'SPAM') spam += 1;\n  else if (verdict === 'NOT_SPAM') notSpam += 1;\n  else unknown += 1;\n\n  const usedMemory = typeof output === 'object'\n    ? Boolean(output?.memory_used)\n    : /qdrant|memory/i.test(text);\n  if (usedMemory) memoryUsed += 1;\n\n  return { index: i, verdict: verdict || 'UNKNOWN', usedMemory, preview: text.slice(0, 240) };\n});\n\nreturn [{\n  json: {\n    total,\n    spam,\n    notSpam,\n    unknown,\n    memoryUsed,\n    samples\n  }\n}];"},"id":"agent-output-audit","name":"Agent Output Audit","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,144]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const source = $json ?? {};\nconst output = $json?.output;\nconst raw = typeof output === \"string\" ? output : JSON.stringify(output ?? {});\n\nlet verdict = \"\";\nlet reason = \"\";\nlet modelMemoryUsed = false;\n\nif (output && typeof output === \"object\") {\n  verdict = String(output.verdict ?? \"\").toUpperCase();\n  reason = String(output.reason ?? \"\").trim();\n  modelMemoryUsed = Boolean(output.memory_used);\n} else {\n  const text = String(raw).trim();\n  const match = text.match(/\\b(SPAM|NOT_SPAM)\\b\\s*[:|-]?\\s*(.*)$/i);\n  if (match) {\n    verdict = match[1].toUpperCase();\n    reason = String(match[2] ?? \"\").trim();\n  }\n  modelMemoryUsed = /qdrant|memory/i.test(text);\n}\n\nif (verdict !== \"SPAM\") {\n  return [];\n}\n\nconst memoryText = [\n  `from: ${source.From ?? source.from ?? \"\"}`,\n  `subject: ${source.Subject ?? source.subject ?? \"\"}`,\n  `snippet: ${source.snippet ?? \"\"}`,\n  `verdict: ${verdict}`,\n  `reason: ${reason || \"none\"}`,\n  `labels: ${JSON.stringify(source.labels ?? [])}`\n].join(\"\\n\");\n\nreturn {\n  json: {\n    memoryText,\n    messageId: source.id ?? \"\",\n    verdict,\n    reason,\n    modelMemoryUsed,\n    sourceFrom: source.From ?? source.from ?? \"\",\n    sourceSubject: source.Subject ?? source.subject ?? \"\",\n    sourceLabels: source.labels ?? []\n  }\n};"},"id":"build-memory-records","name":"Build Memory Records","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,336]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.memoryText }}","options":{}},"id":"memory-data-loader","name":"Memory Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1648,560]},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"mode":"id","value":"gmail_spam_memory_d1536"},"options":{"contentPayloadKey":"content","metadataPayloadKey":"metadata"}},"id":"qdrant-memory-insert","name":"Qdrant Memory Insert","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[1568,336]},{"parameters":{"operation":"addLabels","messageId":"={{$json.id}}","labelIds":["SPAM"]},"id":"add-spam-label","name":"Add Spam Label","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1632,-48],"webhookId":"fa015002-4f33-46c6-9537-01fa6104e6fa","onError":"continueRegularOutput"},{"parameters":{"operation":"removeLabels","messageId":"={{$json.id}}","labelIds":["INBOX"]},"id":"remove-inbox-label","name":"Remove Inbox Label","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1920,-48],"webhookId":"1ab646b3-11b8-4d3b-ab81-bcf1401daa28"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{"temperature":0,"timeout":300000,"maxRetries":2}},"id":"openai-chat-model","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[848,368],"retryOnFail":true,"maxTries":4,"waitBetweenTries":5000},{"parameters":{"promptType":"define","text":"=Classify this email as spam or not spam.\\n\\nFrom: {{$json.From || $json.from || \"\"}}\\nSubject: {{$json.Subject || $json.subject || \"\"}}\\nSnippet: {{$json.snippet || \"\"}}\\nLabels: {{JSON.stringify($json.labels || [])}}\\n\\nUse memory tool results when relevant. Return exactly one line only in one of these formats:\\nSPAM | short reason\\nor\\nNOT_SPAM | short reason","options":{"systemMessage":"You are an email spam classifier. Use retrieved memory context from past spam decisions when available. Be conservative and classify as SPAM only when it is more likely than not. Return exactly one line: SPAM | short reason OR NOT_SPAM | short reason.","maxIterations":3,"returnIntermediateSteps":false,"passthroughBinaryImages":true,"enableStreaming":false}},"id":"ai-agent-spam-classifier","name":"AI Agent Spam Classifier","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[880,144],"retryOnFail":true,"maxTries":4,"waitBetweenTries":5000},{"parameters":{"operation":"getAll","filters":{"readStatus":"unread"},"limit":25},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[624,-192],"id":"aa956bb8-e281-468b-bded-44836d7bf25d","name":"customerservice@aitradeengines.com","webhookId":"e324c69f-7fed-43e7-8466-7e3e3b492bcb"},{"parameters":{"operation":"getAll","filters":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[912,-176],"id":"bdf9f01c-9fc6-4803-ba6a-f9d874890768","name":"lesterajohn@oneserverx.com","webhookId":"eb412a07-57e1-4e80-b45d-8a4e3bd4d5fc"}],"activeVersion":{"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"hourly-schedule","name":"Every Hour","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[400,48]},{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[400,240]},{"parameters":{"operation":"getAll","limit":25,"filters":{"readStatus":"unread"}},"id":"gmail-get-many","name":"Get Recent Inbox Messages","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[624,144],"webhookId":"b84b8450-a716-44ab-a472-9a3687689e38"},{"parameters":{"model":"fortisai","options":{}},"id":"openai-embeddings","name":"OpenAI Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1056,576]},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Search prior FortisAI Gmail spam decisions stored in Qdrant to help classify similar emails.","qdrantCollection":{"__rl":true,"mode":"id","value":"gmail_spam_memory_d1536"},"topK":5,"options":{}},"id":"qdrant-memory-tool","name":"Qdrant Memory Tool","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[976,368]},{"parameters":{"jsCode":"const items = $input.all();\nreturn items.filter((item) => /^SPAM\\b/i.test(String(item.json.output ?? \"\").trim()));"},"id":"keep-spam-only","name":"Keep Spam Only","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,-48]},{"parameters":{"jsCode":"const items = $input.all();\nconst total = items.length;\nlet spam = 0;\nlet notSpam = 0;\nlet unknown = 0;\nlet memoryUsed = 0;\n\nconst samples = items.slice(0, 5).map((item, i) => {\n  const output = item?.json?.output;\n  const asText = typeof output === 'string' ? output : JSON.stringify(output ?? {});\n  const text = String(asText).trim();\n  const verdict = typeof output === 'object'\n    ? String(output?.verdict ?? '').toUpperCase()\n    : (text.match(/\\b(SPAM|NOT_SPAM)\\b/i)?.[1] || '').toUpperCase();\n\n  if (verdict === 'SPAM') spam += 1;\n  else if (verdict === 'NOT_SPAM') notSpam += 1;\n  else unknown += 1;\n\n  const usedMemory = typeof output === 'object'\n    ? Boolean(output?.memory_used)\n    : /qdrant|memory/i.test(text);\n  if (usedMemory) memoryUsed += 1;\n\n  return { index: i, verdict: verdict || 'UNKNOWN', usedMemory, preview: text.slice(0, 240) };\n});\n\nreturn [{\n  json: {\n    total,\n    spam,\n    notSpam,\n    unknown,\n    memoryUsed,\n    samples\n  }\n}];"},"id":"agent-output-audit","name":"Agent Output Audit","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,144]},{"parameters":{"jsCode":"const source = $('Get Recent Inbox Messages').item.json ?? {};\nconst output = $json?.output;\nconst raw = typeof output === 'string' ? output : JSON.stringify(output ?? {});\n\nlet verdict = '';\nlet reason = '';\nlet modelMemoryUsed = false;\n\nif (output && typeof output === 'object') {\n  verdict = String(output.verdict ?? '').toUpperCase();\n  reason = String(output.reason ?? '').trim();\n  modelMemoryUsed = Boolean(output.memory_used);\n} else {\n  const text = String(raw).trim();\n  const match = text.match(/\\b(SPAM|NOT_SPAM)\\b\\s*[:|-]?\\s*(.*)$/i);\n  if (match) {\n    verdict = match[1].toUpperCase();\n    reason = String(match[2] ?? '').trim();\n  }\n  modelMemoryUsed = /qdrant|memory/i.test(text);\n}\n\nif (verdict !== 'SPAM') {\n  return [];\n}\n\nconst memoryText = [\n  `from: ${source.From ?? source.from ?? ''}`,\n  `subject: ${source.Subject ?? source.subject ?? ''}`,\n  `snippet: ${source.snippet ?? ''}`,\n  `verdict: ${verdict}`,\n  `reason: ${reason || 'none'}`,\n  `labels: ${JSON.stringify(source.labels ?? [])}`\n].join('\\n');\n\nreturn {\n  json: {\n    memoryText,\n    messageId: source.id ?? '',\n    verdict,\n    reason,\n    modelMemoryUsed,\n    sourceFrom: source.From ?? source.from ?? '',\n    sourceSubject: source.Subject ?? source.subject ?? '',\n    sourceLabels: source.labels ?? []\n  }\n};"},"id":"build-memory-records","name":"Build Memory Records","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,336]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.memoryText }}","options":{}},"id":"memory-data-loader","name":"Memory Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1648,560]},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"mode":"id","value":"gmail_spam_memory_d1536"},"options":{"contentPayloadKey":"content","metadataPayloadKey":"metadata"}},"id":"qdrant-memory-insert","name":"Qdrant Memory Insert","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[1568,336]},{"parameters":{"operation":"addLabels","messageId":"={{$json.id}}","labelIds":["SPAM"]},"id":"add-spam-label","name":"Add Spam Label","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1632,-48],"webhookId":"fa015002-4f33-46c6-9537-01fa6104e6fa","onError":"continueRegularOutput"},{"parameters":{"operation":"removeLabels","messageId":"={{$json.id}}","labelIds":["INBOX"]},"id":"remove-inbox-label","name":"Remove Inbox Label","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1920,-48],"webhookId":"1ab646b3-11b8-4d3b-ab81-bcf1401daa28"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{"temperature":0,"timeout":300000,"maxRetries":2}},"id":"openai-chat-model","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[848,368],"retryOnFail":true,"maxTries":4,"waitBetweenTries":5000},{"parameters":{"promptType":"define","text":"=Classify this email as spam or not spam.\\n\\nFrom: {{$json.From || $json.from || \"\"}}\\nSubject: {{$json.Subject || $json.subject || \"\"}}\\nSnippet: {{$json.snippet || \"\"}}\\nLabels: {{JSON.stringify($json.labels || [])}}\\n\\nUse memory tool results when relevant. Return exactly one line only in one of these formats:\\nSPAM | short reason\\nor\\nNOT_SPAM | short reason","options":{"systemMessage":"You are an email spam classifier. Use retrieved memory context from past spam decisions when available. Be conservative and classify as SPAM only when it is more likely than not. Return exactly one line: SPAM | short reason OR NOT_SPAM | short reason.","maxIterations":3,"returnIntermediateSteps":false,"passthroughBinaryImages":true,"enableStreaming":false}},"id":"ai-agent-spam-classifier","name":"AI Agent Spam Classifier","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[880,144],"retryOnFail":true,"maxTries":4,"waitBetweenTries":5000},{"parameters":{"operation":"getAll","filters":{"readStatus":"unread"},"limit":25},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[624,-192],"id":"aa956bb8-e281-468b-bded-44836d7bf25d","name":"customerservice@aitradeengines.com","webhookId":"e324c69f-7fed-43e7-8466-7e3e3b492bcb"},{"parameters":{"operation":"getAll","filters":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[912,-176],"id":"bdf9f01c-9fc6-4803-ba6a-f9d874890768","name":"lesterajohn@oneserverx.com","webhookId":"eb412a07-57e1-4e80-b45d-8a4e3bd4d5fc"}],"connections":{"Every Hour":{"main":[[{"node":"customerservice@aitradeengines.com","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"customerservice@aitradeengines.com","type":"main","index":0}]]},"OpenAI Embeddings":{"ai_embedding":[[{"node":"Qdrant Memory Tool","type":"ai_embedding","index":0},{"node":"Qdrant Memory Insert","type":"ai_embedding","index":0}]]},"Build Memory Records":{"main":[[{"node":"Qdrant Memory Insert","type":"main","index":0}]]},"Memory Data Loader":{"ai_document":[[{"node":"Qdrant Memory Insert","type":"ai_document","index":0}]]},"Keep Spam Only":{"main":[[{"node":"Add Spam Label","type":"main","index":0}]]},"Add Spam Label":{"main":[[{"node":"Remove Inbox Label","type":"main","index":0}]]},"Get Recent Inbox Messages":{"main":[[{"node":"AI Agent Spam Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent Spam Classifier","type":"ai_languageModel","index":0}]]},"Qdrant Memory Tool":{"ai_tool":[[{"node":"AI Agent Spam Classifier","type":"ai_tool","index":0}]]},"AI Agent Spam Classifier":{"main":[[{"node":"Keep Spam Only","type":"main","index":0},{"node":"Agent Output Audit","type":"main","index":0},{"node":"Build Memory Records","type":"main","index":0}]]},"customerservice@aitradeengines.com":{"main":[[{"node":"AI Agent Spam Classifier","type":"main","index":0}]]}}},"tags":[],"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"parentFolderId":null,"scopes":["execution:reveal","workflow:create","workflow:delete","workflow:disableRedaction","workflow:enableRedaction","workflow:execute","workflow:execute-chat","workflow:export","workflow:import","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update"],"canExecute":true},"triggerInfo":"This workflow has the following trigger(s):\n\n\nSchedule trigger(s):\n\n\n\t\t\t\t<trigger 1>\n\t\t\t\t\t - Node name: Every Hour\n\t\t\t\t</trigger 1>\n\nScheduled workflows can be executed directly through MCP clients and do not require external inputs."}
